body{
    font-family:'Helvetica Neue';
}

.wrapper{
    position: relative;
    background-color: #D1D1D1
    
}

#wrapper__sidenav{
    position: fixed;
    background-color:#181D22;
    width: 500px;
    padding: 0;
    height: 100vh;
    left: 0;
    top: 0;
}

.wrapper__sidenav__img h2{    
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 1.5rem;
}

#executive {
    font-family:'Lucida Calligraphy';
    color: red;
    margin-top:-10px;
    text-transform: uppercase;
}

ul a{
    text-decoration: none;
    color: white;  
    width: 100%; 
     
}

ul{    
    list-style-type: none;
    margin: 0 auto;
    padding: 0;   
    
}

.wrapper__sidenav__footer {
    color: white;
    text-align: center;
    /* margin: 0 auto; */
}

.wrapper__sidenav__links{
    display: flex;
    align-items: center;
    margin-top: 50%;
    /* width: 100%; */
    
}

.wrapper__sidenav__links__link{
    display: inline-block;
    width: 100%;    
    height: 50px;
    padding-left: 40%;
     
    
}

.wrapper__sidenav__links__link {
    margin: auto;
}

.wrapper__sidenav__links__link:hover{
    color: black;
    background-color: #D1D1D1;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.wrapper__sidenav__footer{
    position: absolute;
    width: 100%;
    bottom: 30px;
    margin: 0 auto;
    color: white;
   
}

.links, .links:hover, .links:active, .links:visited{
    text-decoration: none;
}
.links:hover{
    color: black;
}

#margin__left{
    
    width: 100%;
    margin-left: 300px;   
    z-index: 2; 
}

.user__card{
    background-color: #262626;
    color: white;
    height: 50px;
    display: table;
    padding: 10px;
}

.user__info{
    display: table-cell;
    vertical-align: middle;

}