{% extends 'base.html' %}

{% block head %}
<title>Test app</title>
    {% endblock %}

{% block body %}
<h2>Hello world</h2>
<div class="container row">
    <div class="col-md-1">FIRST</div>
    <div class="col-md-2">LAST</div>
    <div class="col-md-2">STORE</div>
    <div class="col-md-1">JOIN</div>
    <div class="col-md-3">EMAIL</div>
    <div class="col-md-2">CARD</div>
    <div class="col-md-1">OPTIONS</div>
</div>
<div class="container row">
    {% for user in users %}
        <div class="row col-md-12 mt-2 user__card">
            <div class="col-md-1 user__info">{{user.first_name}}</div>
            <div class="col-md-2 user__info">{{user.last_name}}</div>
            <div class="col-md-2 user__info">{{user.preferred_store}}</div>
            <div class="col-md-1 user__info">{{user.date_joined}}</div>
            <div class="col-md-3 user__info">{{user.email}}</div>
            <div class="col-md-2 user__info">{{user.card_status}}</div>
            <div class="col-md-1 user__info">...</div>
        </div>        
    {% endfor %}    
</div>
{% endblock %}